header {
  height: 100vh;
  padding-top: 7rem;
}

.container {
  text-align: center;
  height: 100%;
  position: relative;
}

.link-container {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}